@{
    ViewData["Title"] = "Debug API Key";
}

<h2>API Key Debug</h2>
<p>
    The API Key :
</p>
<pre style="background-color: #f4f4f4; padding: 10px; border-radius: 5px;">
    @ViewBag.ApiKey
</pre>
